.div {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

nav {
    background: #4E31AA;
    display: flex;
    padding: 5px;
    margin: 1px;
}

ul {
    display: flex;
}

.title {
    margin: 5px;
    color: white;
}

li {
    background: #6C48C5;
    display: inline-flex;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
}

form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form .btn-color {
    background: #4E31AA;
    color: white;
}

form .btn-color:hover,
li:hover {
    background: #A594F9;
    color: white;
}

.item {
    text-decoration: none;
    color: white;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.message a {
    text-decoration: none;
    color: #6a7fbe;
}
